/*
COLORS:

#F9F9F9          - Background
White            - 
DarkSlateGray    - Text
MediumAquamarine - Inactive link
MediumSeaGreen   - Hovered link
*/

/********************************** GENERAL ***********************************/

html {
  color: DarkSlateGray;
  background-color: #F9F9F9;
  /* background-color: #222;
  color: #DDD; */
  font-family: Lato, sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: White;
  color: DarkSlateGray;
  -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.15);
}

header > .logo {
  margin: 0 16px;
  position: relative;
  top: 0.2rem;
}

header > span {
  font-size: 2rem;
}

header > h1 {
  font-size: 1.6rem;
  margin: 20px 16px 20px 0px;
}

main {
  flex: 1;
  align-self: center;
  width: 60%;
}
@media (max-width: 768px) {
  main {
    width: 70%;
  }
}
@media (max-width: 420px) {
  main {
    width: 100%;
    /* margin: 30px 30px; */
  }
}

footer {
  display: flex;
  justify-content: center;
  background-color: #213E6F;
  color: #FAFAFA;
  padding: 1rem 0;
  margin-top: 2rem;
}

p {
  margin: 0;
}

a {
  color: MediumAquamarine;
  text-decoration: none;
}
a:hover {
  color: MediumSeaGreen;
}

time {
  color: Gray;
}

address {
  color: Gray;
  font-style: normal;
  font-weight: normal;
}

input:focus  { outline: none; }
button:focus { outline: none; }

/******************************* MEETUP LIST **********************************/

.meetup-item {
  margin-top: 16px;
  padding: 14px;
  background-color: white;
  border: 1px solid #EEE;
  border-left: 10px solid #EEE;
}

.upcoming {
  border-color: MediumAquamarine;
}

.meetup-item time {
  margin-right: 8px;
}

.meetup-item-details > h1 {
  margin: 4px 0 6px 0;
}

.meetup-item-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .meetup-item-body {
    display: flex;
    flex-direction: column;
  }
}

.meetup-item .button {
  align-self: flex-end;
}

.meetup-item-thumbnail {
  margin-right: 16px;
}

@media (max-width: 768px) {
  .meetup-item-thumbnail {
    align-self: center;
    margin-bottom: 14px;
  }
}

.meetup-item-details > p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.meetup-item-details {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tbody tr:nth-child(even) {
  background-color: #FEFEFE;
}
tbody tr:nth-child(odd) {
  background-color: #ecf2f9;
}

.meetup-item-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/****************************** MEETUP DETAILS ********************************/

#details-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

#details-header-info {
  flex: 1.6;
}

#details-header-info address a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#details-header-info .details-location-icon {
  font-size: 1.6rem;
  padding-right: 10px;
}

#details-header-info .details-location-address {
  display: flex;
  flex-direction: column;
}

#details-header > form {
  flex: 1;
  padding-top: 1.6rem;
}

#details-header > form > input {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 12px 12px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid MediumAquamarine;
  color: DarkSlateGray;
}

#details-header > form > input:focus {
  border-color: MediumSeaGreen;
}

#details-header > form > input::placeholder {
  color: LightGray;
}

#details-header > form > input:focus::placeholder {
  color: transparent;
}

#details-header > form > button {
  float: right;
  font-size: 1rem;
  padding: 6px 30px 6px 20px;
  position: relative;
  border-left: none;
  border-top: none;
  border-right: none;
  cursor: pointer;
}

.login-control {
  display: none;
}

#details-hero-image {
  margin-bottom: 30px;
}

#details-hero-image > img {
  width: 100%;
}

#details-text {
  margin-bottom: 30px;
}

#details-map {
  width: 100%;
  margin-bottom: 20px;
}

#map-iframe {
  width: 100%;
  height: 300px;
}


/********************************** HELPERS ***********************************/

.button {
  position: relative;
  background-color: MediumAquamarine;
  padding: 6px 18px;
  color: White;
  border-bottom: 4px solid MediumSeaGreen;
  border-radius: 2px;
}
.button:hover {
  color: White;
  background-color: MediumSeaGreen;
  top: 1px;
  border-bottom: 3px solid SeaGreen;
  margin-bottom: 1px;
}
