<header>
  <a id="home-link" href="/">
    <span>&lt;</span>
    <div class="logo">
      <img src="/img/logo/logo.png" alt="logo" height="40">
    </div>
    <h1>IT Zvornik</h1>
    <span>/&gt;</span>
  </a>
</header>